.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 40px;
}

 #div .form-signin-heading{
	margin-bottom: 30px;
	color: #01579b ;
	text-align: center;
}

#div .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  max-width: 330px;
  margin-left: 50px;
  margin-bottom: 5px;
}
.form-control:focus {
  z-index: 2;
}



.panel{
	width:500px;
	height: auto;
	padding: 30px;

	margin-left: 30%; 
	align-content: center;
}
x{
  border: none;
  border-color: transparent;
}